/*Universal Styles*/

* {
	margin:0px;
	padding:0px;
	font-family: 'Merriweather Sans', sans-serif;
	line-height:1.2;
}

body{
	position:relative;
	background-image: linear-gradient(
		265deg, 
		#C5CFC6 60%,#333333
	);
}

/*Map Section*/

.map-section{
	display:inline-block;
	text-align: center;
}
.map-section h1{
	padding-top:3rem;
	margin-bottom:3rem;
	font-size: 60px;
	color: #333333;
}

.map-section h3{
	width:70%;
	margin:auto;
	margin-bottom:3rem;
	font-size: 20px;
	color: #333333;
}

#map{
	width:100%;
	height:100vh;
}

/* Profile section*/

.my-profile{
	padding-top:50px;
	display:grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 60% 40%;
	height:600px;
}

/*Profile image section*/

.image-section{
	grid-column: 1/2;
	grid-row:1/3;
}

.image-section img{
	padding:25px;
	padding-bottom: 5px;
	display:block;
	margin:0px auto;
	height:100%;
	width:80%;
}

.image-section figcaption{
	text-align: center;
	font-style: italic;
	font-size: 14px;
}


/*Profile about-me section*/

.about-me-section{
	align-self:center;
	justify-self:center;
	grid-column: 2/2;
	grid-row:2/2;
	color:black;
	border: 15px solid #333333;
	border-style: inset;
	border-radius: 33%;
	padding:15px;
}

.about-me-section table{
	margin:0 auto;
}

.about-me-section table td{
	padding-left:15px;
}

/*Profile vision section*/


.vision-section{
	font-size:16px;
	grid-column: 2/2;
	grid-row:1/2;
}

.vision-section h3{
	font-size: 55px;
	margin-top:16px;
	margin-bottom:24px;
}

.vision-section h4{
	padding-right:45px;
}

@media screen and (max-width:950px){
	.my-profile{
		display:flex;
		flex-direction:column;
		text-align:center;
	}

	.about-me-section table{
		border-radius: 25%;
	}

	.image-section figcaption{
		margin-bottom:25px;
	}
	
	.vision-section h4{
		padding:35px;
	}
}

@media screen and (max-width:350px){
	#map{
		width:50%;
		height:50%;

	}
}

